<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzIgmhU1xc_x27S7CsMBfrLRIvUBRc8jU</string>
	<key>GCM_SENDER_ID</key>
	<string>248305733427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checklist.collegecareer</string>
	<key>PROJECT_ID</key>
	<string>college-and-career-checklist</string>
	<key>STORAGE_BUCKET</key>
	<string>college-and-career-checklist.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248305733427:ios:e845a5c1310e193adb7846</string>
</dict>
</plist>